.l_form-header{
	background-color: #6c8393;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 10px;
	padding: 10px 20px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	border-radius: 5px 5px 0 0;
	height: 55px;
}

.l_form-body{
	border: 1px solid #d8dee2;
	padding: 20px 3px;
	padding-top: 46px;
	padding-left: 0px;
	margin-left: 19px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.075);
}

.l_left{
	float: left;
	width: 50%;
	position: absolute;
	height: 100%;
}

.l_right{
	float: left;
	width: 50%;
	height: 100%;
	position: absolute;
	margin-left: 50%;
}
