
		<script type="text/javascript" src="/js/jquery.pjax.js"></script>
		<div class="h_details container" id="detailed-contents">
			<% if governor %>
				<div><a href="./newproject">Add Project</a></div>
			<% end %>
			<% unless projects.empty? %>
				<div></div>
			<% end %>
		</div>

		<script type="text/javascript" src="/js/project.js"></script>
